<nav class="md:hidden z-50 fixed w-full h-[2rem] group ">
    <div class="relative px-3 py-3 w-full bg-white group-hover:bg-[#F26522]">
        <ul class="flex font-normal w-full md:mt-0 items-center justify-between">
            <li routerLink="/">
                <img routerLink="/" class="block group-hover:hidden" src="assets/images/ezpz-logo-inactive.svg">
                <img routerLink="/" class="hidden group-hover:block" src="assets/images/ezpz-logo-active.svg">
            </li>
            <li (click)="navigateToProducts()"
                class="cursor-pointer text-sm text-[#F26522] group-hover:text-white">PRODUCTS</li>

        </ul>
    </div>
</nav>
<aside id="default-sidebar"
    class="fixed group md:block hidden top-0 left-0 z-40 w-[5%] h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white group-hover:bg-[#F26522]">
        <ul
            class="space-y-2 h-full pt-4 pb-10 flex flex-col justify-center items-center gap-y-4 font-medium text-[12px]">
            <li routerLink="/" class="cursor-pointer">
                <img class="block group-hover:hidden" src="assets/images/ezpz-logo-inactive.svg">
                <img class="hidden group-hover:block" src="assets/images/ezpz-logo-active.svg">
            </li>
            <div class="grow"></div>
            <li (click)="navigateToProducts()"
                class="-rotate-90 pl-4 cursor-pointer text-[#F26522] group-hover:text-white">PRODUCTS</li>
        </ul>
    </div>
</aside>