<section class="py-[83px] space-y-[52px]">
    <div class="flex flex-col justify-center items-center">
        <p class="text-[32px] font-bold">SKINSIGHT</p>
        <div class="w-[26rem] text-[16px] font-light text-center">Not just sharing knowledge; we're bringing the joy of
            beauty wisdom straight to your fingertips.
            This is your skin insights.</div>
    </div>
</section>

<div class="space-y-10">
    <section class="mx-[10%] space-y-3">
        <hr>
        <div class="flex justify-center items-center">
            <div class="relative flex  text-[#E51F7E] w-[154px] items-center">
                <div class="flex-grow border-t border-[#E51F7E]"></div>
                <span class="flex-shrink mx-4 font-normal">TRENDINGS</span>
                <div class="flex-grow border-t border-[#E51F7E]"></div>
            </div>
        </div>
        <hr>

        <div class="flex gap-x-10 gap-y-3 justify-center items-center">
            <div class="flex flex-col gap-y-3">
                <div class="space-y-3">
                    <img src="assets/images/beauty.svg" />
                    <div class="text-center flex flex-col justify-center items-center">

                        <div class="w-[200px] space-y-3">
                            <p class="text-[8px]">BEAUTY</p>
                            <p class="text-[16px] font-medium">Lorem Ipsum
                                is simply dummy TEXT</p>
                            <p class="text-[8px]">BY LOREM IPSUM</p>
                        </div>
                    </div>
                </div>
                <div class="space-y-3">
                    <img src="assets/images/beauty.svg" />
                    <div class="text-center flex flex-col justify-center items-center">

                        <div class="w-[200px] space-y-3">
                            <p class="text-[8px]">BEAUTY</p>
                            <p class="text-[16px] font-medium">Lorem Ipsum
                                is simply dummy TEXT</p>
                            <p class="text-[8px]">BY LOREM IPSUM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-y-3">
                <img src="assets/images/mesmerizing.svg" />
                <div class="text-center flex flex-col justify-center items-center">

                    <div class="w-[200px] space-y-3">
                        <p class="text-[8px]">BEAUTY</p>
                        <p class="text-[16px] font-medium">Lorem Ipsum
                            is simply dummy TEXT</p>
                        <p class="text-[8px]">BY LOREM IPSUM</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-y-3">
                <div class="space-y-3">
                    <img src="assets/images/beauty2.svg" />
                    <div class="text-center flex flex-col justify-center items-center">

                        <div class="w-[200px] space-y-3">
                            <p class="text-[8px]">BEAUTY</p>
                            <p class="text-[16px] font-medium">Lorem Ipsum
                                is simply dummy TEXT</p>
                            <p class="text-[8px]">BY LOREM IPSUM</p>
                        </div>
                    </div>
                </div>
                <div class="space-y-3">
                    <img src="assets/images/beauty2.svg" />
                    <div class="text-center flex flex-col justify-center items-center">

                        <div class="w-[200px] space-y-3">
                            <p class="text-[8px]">BEAUTY</p>
                            <p class="text-[16px] font-medium">Lorem Ipsum
                                is simply dummy TEXT</p>
                            <p class="text-[8px]">BY LOREM IPSUM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mx-[10%] space-y-5">
        <div>
            <hr>
            <div class="flex justify-center items-center">
                <div class="flex text-center my-5 text-[#E51F7E] items-center">
                    <span class="font-normal">SKIN</span>
                </div>
            </div>
            <hr>
        </div>

        <div class="flex gap-x-5">
            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>
        </div>


    </section>

    <section class="mx-[10%] space-y-5">
        <div>
            <hr>
            <div class="flex justify-center items-center">
                <div class="relative flex my-5 text-[#E51F7E]  items-center">
                    <span class="flex-shrink mx-4 font-normal">HAIR</span>
                </div>
            </div>
            <hr>
        </div>

        <div class="flex gap-x-5">
            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>
        </div>
    </section>

    <section class="mx-[10%] space-y-5">
        <div>
            <hr>
            <div class="flex justify-center items-center">
                <div class="relative flex my-5 text-[#E51F7E] items-center">
                    <span class="flex-shrink mx-4 font-normal">MAKE UP</span>
                </div>
            </div>
            <hr>
        </div>

        <div class="flex gap-x-5">
            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>

            <div class="max-w-[269px]">
                <img src="assets/images/content1.svg">
                <p class="text-[8px]">BEAUTY</p>
                <p class="text-[16px] font-medium">Lorem Ipsum
                    is simply dummy TEXT</p>
                <p class="text-[8px]">BY LOREM IPSUM</p>
            </div>
        </div>
    </section>
</div>