<section class="pt-[83px] flex flex-col gap-y-[52px] justify-center items-center">
    <p class="text-[32px] font-bold">ABOUT EZPZ</p>

    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
        <li class="mr-2">
            <a href="#"
                class="inline-flex items-center justify-center p-4 text-blue-600 border-b-2 border-[#E51F7E] rounded-t-lg active dark:text-[#E51F7E] dark:border-[#E51F7E] group"
                aria-current="page">
                OUR STORY
            </a>
        </li>
        <li class="mr-2">
            <a href="#"
                class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                OUR VISION
            </a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</section>