<section>
    <img class="w-full mb-[6.2rem]" src="assets/images/banner.svg" />
</section>

<section class="mx-[10.19rem] gap-y-[6rem] flex flex-col items-center justify-center">
    <div class="flex flex-col justify-center items-center text-center">
        <p class="font-bold text-[5.375rem]">PRODUCTS</p>
        <div class="w-[26rem] text-[1.5rem] text-center">Elevate your daily routine
            from Monday to Sunday, to unlock
            confidence and peace by the end of every week.</div>
    </div>

    <div class="flex justify-center gap-x-[5rem]">
        <div class="relative group justify-center items-center flex h-[19.4375rem] w-[19.4375rem] cursor-pointer">
            <img src="assets/images/friday.svg" />
            <img
                class="transition-all group ease-in delay-75 h-full absolute bottom-0 left-0 w-full hidden group-hover:block" src="assets/images/shampoo.svg">
        </div>
        <div class="relative group justify-center items-center flex h-[19.4375rem] w-[19.4375rem] cursor-pointer">
            <img src="assets/images/friday.svg" />
            <img
                class="transition-all group ease-in delay-75 h-full absolute bottom-0 left-0 w-full hidden group-hover:block" src="assets/images/bodyserum.svg">
        </div>
        <div class="relative group justify-center items-center flex h-[19.4375rem] w-[19.4375rem] cursor-pointer">
            <img src="assets/images/friday.svg" />
            <img
                class="transition-all group ease-in delay-75 h-full absolute bottom-0 left-0 w-full hidden group-hover:block" src="assets/images/bodywash.svg">
        </div>
    </div>
    <button class="border-2 text-[#E51F7E] font-medium border-[#E51F7E] w-[8.6rem]">
        VIEW ALL ->
    </button>

    <div class="flex flex-col justify-center items-center text-center">
        <p class="font-bold text-[5.375rem]">SKINSIGHT</p>
        <div class="w-[26rem] text-[1.5rem] text-center">Not just sharing knowledge;
            we're bringing the joy of beauty
            wisdom straight to your fingertips.
            This is your skin insights.</div>
    </div>
</section>

<section class="mt-[6rem]">
    <div class="flex flex-row w-full">
        <div class="w-[50%] p-[4rem] bg-[#F23891] flex justify-center items-center">
            <img class="w-full" src="assets/images/cewe1.svg" />
        </div>
        <div class="w-[50%] bg-[#E51F7E] flex flex-col gap-y-[2.63rem] p-[4rem] text-white">
            <p class="font-bold text-[2.5rem]">How To Build the Best Skincare Routine</p>
            <p class="text-[1.5rem]">Dermatologists break down the best skin
                care routine for all skin types, including
                top products for oily, dry, combination,
                aging, ...</p>
            <div class="grow"></div>
            <a class="text-[1.5rem]" href="#">Read more -></a>
        </div>
    </div>
    <div class="flex flex-row w-full">
        <div class="w-[50%] bg-[#F26522] flex flex-col gap-y-[2.63rem] p-[4rem] text-white">
            <p class="font-bold text-[2.5rem]">Three Reasons Why 
                Skincare is Important</p>
            <p class="text-[1.5rem]">You’ve likely heard many beauty and health
                influencers and experts tout their best 
                skin care tips, but their recommendations
                might leave you wondering...</p>
            <div class="grow"></div>
            <a class="text-[1.5rem]" href="#">Read more -></a>
        </div>
        <div class="w-[50%] p-[4rem] bg-[#FF7A3B] flex justify-center items-center">
            <img class="w-full" src="assets/images/cewe2.svg" />
        </div>
    </div>
    <div class="flex flex-row w-full">
        <div class="w-[50%] p-[4rem] bg-[#A5CE3A] flex justify-center items-center">
            <img class="w-full" src="assets/images/cewe3.svg" />
        </div>
        <div class="w-[50%] bg-[#9FC341] flex flex-col gap-y-[2.63rem] p-[4rem] text-white">
            <p class="font-bold text-[2.5rem]">Do You Really Need 
                a Skincare Routine?</p>
            <p class="text-[1.5rem]">A skin care routine may sound like 
                high maintenance, but in reality, 
                the steps for good skin care are not only 
                necessary, they're easy to implement too.</p>
            <div class="grow"></div>
            <a class="text-[1.5rem]" href="#">Read more -></a>
        </div>
    </div>
    <div class="flex flex-row justify-between bg-[#EDEEEF] w-full">
        <div class="flex w-[70%] flex-col justify-between gap-y-[2.63rem] p-[4rem]">
            <p class="font-bold text-[2.5rem] w-[12.1rem]">MONDAY
                TO
                SUNDAY</p>
            <p class="text-[1.5rem] w-[37.9rem]">Lorem Ipsum is simply dummy text of 
                the printing and typesetting industry. Lorem 
                Ipsum has been the industry's standard dummy 
                text ever since the 1500s, Lorem Ipsum is simply 
                dummy text of  the printing and typesetting industry. </p>
            <div class="grow"></div>
            
        </div>
        <div><img class="w-full" src="assets/images/rempah.svg" /></div>
    </div>
</section>
<section class="my-[6.24rem]">
    <div class="flex flex-col justify-center items-center text-center">
        <p class="font-bold text-[5.375rem]">OUR TAGLINE</p>
        <div class="w-[26rem] text-[1.5rem] text-center">We came with the message “Like It EZ”
            to bring simplicity into your skincare routine
            by using EZPZ products.</div>
    </div>
</section>
<img class="w-full" src="assets/images/KV.svg"/>