.background {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/assets/images/super.svg");
}

.desc {
    cursor: url("../../../assets/cursor/ezpz.svg"), auto;
}
