<section>
    <img class="w-full" src="assets/images/banner.svg" />
</section>

<div class="background">
    <section class="mx-[2rem] py-5 md:mx-[10.19rem] gap-y-[6rem] flex flex-col items-center justify-center">
        <div class="flex flex-col justify-center items-center text-center">
            <img src="assets/images/product-text.svg" />
        </div>

        <img class="w-full" src="assets/images/product.svg">

        <div class="w-[26rem] mx-[2rem] md:text-[20px] text-center">Elevate your daily routine
            from Monday to Sunday, to unlock
            confidence and peace by the end of every week.</div>

        <img class="w-full" src="assets/images/like-ez.svg" />

        <!-- <div class="flex flex-col justify-center items-center text-center">
            <p class="font-bold text-[5.375rem]">SKINSIGHT</p>
            <div class="w-[26rem] text-[1.5rem] text-center">Not just sharing knowledge;
                we're bringing the joy of beauty
                wisdom straight to your fingertips.
                This is your skin insights.</div>
        </div> -->
    </section>
</div>

<section class="mt-[6rem]">
    <img src="assets/images/philoshopy.svg" class="w-full" />
</section>
<section class="w-full">
    <div class="md:flex hidden w-full border-2 border-[#9FC341]">
        <div class="flex justify-center items-center flex-col w-1/2 bg-white space-y-[19px]">
            <img class="" src="assets/images/monday-sunday.svg">
            <p class="text-[14px] text-center w-[400px]">Monday to Sunday is a series of personal care
                products consisting of shampoo, body wash,
                and body serum. This series consists of 7 variants
                on each line, with each variant uniquely representing
                the day it is named after.</p>
            <p class="text-[14px] text-center w-[400px]">Additionally, the Monday to Sunday series
                is coloured after the rainbow.</p>
        </div>
        <div class="w-1/2">
            <img class="w-full" src="assets/images/monday-sunday-image.svg">
        </div>
    </div>

    <div class="flex md:hidden flex-col items-center justify-center align-middle w-full border-2 border-[#9FC341]">
        <div class="flex p-4 justify-center items-center flex-col w-1/2 bg-white space-y-[19px]">
            <img class="" src="assets/images/monday-sunday.svg">
            <p class="text-[14px] text-center w-[400px]">Monday to Sunday is a series of personal care
                products consisting of shampoo, body wash,
                and body serum. This series consists of 7 variants
                on each line, with each variant uniquely representing
                the day it is named after.</p>
            <p class="text-[14px] text-center w-[400px]">Additionally, the Monday to Sunday series
                is coloured after the rainbow.</p>
        </div>
        <div class="w-full">
            <img class="w-full" src="assets/images/monday-sunday-image.svg">
        </div>
    </div>
</section>

<section>
    <footer class="bg-gray-200 py-8">
        <div class="mx-auto flex flex-col items-center">
            <!-- Company Logo -->
            <img src="assets/images/ezpz-black.svg" alt="Company Logo" class="h-12 mb-10">

            <!-- "Connect with us" text -->
            <h4 class="text-lg font-medium uppercase mb-2">Connect with us</h4>

            <!-- Social Icons -->
            <div class="relative flex flex-wrap w-full justify-center gap-x-2 mb-4">
                <a href="#" class="mx-2 mb-2 sm:mb-0"><img src="assets/images/socials/insta.svg" alt="Social Icon"
                        class="h-6"></a>
                <a href="#" class="mx-2 mb-2 sm:mb-0"><img src="assets/images/socials/fb.svg" alt="Social Icon"
                        class="h-6"></a>
                <a href="#" class="mx-2 mb-2 sm:mb-0"><img src="assets/images/socials/tiktok.svg" alt="Social Icon"
                        class="h-6"></a>
                <div class="w-[1px] bg-black"></div>
                <a href="#" class="mx-2 mb-2 sm:mb-0"><img src="assets/images/socials/tokped.svg" alt="Social Icon"
                        class="h-6"></a>
                <a href="#" class="mx-2 mb-2 sm:mb-0"><img src="assets/images/socials/shopee.svg" alt="Social Icon"
                        class="h-6"></a>
                <a href="#" class="mx-2 mb-2 sm:mb-0"><img src="assets/images/socials/lazada.svg" alt="Social Icon"
                        class="h-6"></a>
                <a href="#" class="ml-auto absolute right-4 md:right-20"><img src="assets/images/socials/wa.svg"
                        alt="Social Icon" class="h-7"></a>

            </div>

            <!-- Horizontal Divider -->
            <hr class="w-full border-t border-gray-400 mb-4">

            <!-- Copyright Text -->
            <p class="text-sm text-gray-600">© Copyright 2023 EZPZ. All rights reserved.</p>
        </div>
    </footer>

</section>